<a href="https://colab.research.google.com/github/devdivyansh522399/basic_python_programming/blob/main/assigment_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1: Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [16]:
def mani(s):
  lst = []
  for i in s:
    if(type(i)==int):
      lst.append(i)
  return lst
s = ['a', 'b', 'c', 'd', 1, 2,3,4,]
print(mani(s))

[1, 2, 3, 4]

Question 2: Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [18]:
def mani(s):
  lst = 0
  for i in range(len(s)):
    s[i] = s[i] + lst
    lst+=1
  return s
s = [1, 2,3,4]
print(mani(s))

[1, 3, 5, 7]

Question 3: Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [20]:
def volume(n, h):
  return ((n**2)*h*3.14)/3
n = int(input())
h = int(input())
print(volume(n, h))

1
1
1.0466666666666666

This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [22]:
def func(n):
  return (n*(n+1))/2
n = int(input())
print(int(func(n)))

6
21

Question 5:Using list comprehensions, create a function that finds all even numbers from 1 to the given
number.

In [24]:
def func(n):
  lst = [1,2,3,4,5,6,7,8,9,10]
  for i in lst:
    if(i in n):
      pass
    else:
      print(i)
n = list(map(int, input().split()))

1 2 3 4 5